<ion-header>
	<ion-toolbar class="tool-header">
		<ion-buttons>
			<ion-button slot="start" (click)="profile()">
				<ion-icon name="arrow-back"></ion-icon>
			</ion-button>
			<ion-title *ngIf="estabelecimento; else titleTemplate">{{ estabelecimento.nome }}</ion-title>
		</ion-buttons>

	</ion-toolbar>
</ion-header>

<ng-template #titleTemplate>
	<ion-title>
		<ion-skeleton-text animated class="loading-large"></ion-skeleton-text>
	</ion-title>
</ng-template>

<ion-content>
	<div *ngIf="estabelecimento && !edit && !editEndereco">
		<div class="container">
			<div>
				<img class="imagem-estabelecimento" [src]="image">
			</div>
			<ion-label class="ion-text-wrap">
				<ion-text color="primary">
					<h1>{{ estabelecimento.nome }}</h1>
					<h2>{{ estabelecimento.endereco.logradouro }},
						<ng-container *ngIf="estabelecimento.endereco.complemento">
							{{ estabelecimento.endereco.complemento }}.
						</ng-container>
						Número: {{ estabelecimento.endereco.numero }}</h2>
					<h3>{{ estabelecimento.endereco.bairro }},{{ estabelecimento.endereco.cidade.nome }}</h3>
					<h3>CEP {{ estabelecimento.endereco.cep }}</h3>
				</ion-text>

				<p *ngFor="let tel of estabelecimento.telefones">TEL: {{ tel }}</p>
				<p>Funcionamento: {{ estabelecimento.horario }}.</p>
				<p *ngIf="estabelecimento.instagram"> Instagram: {{ estabelecimento.instagram }} </p>
				<p *ngIf="estabelecimento.facebook">Facebook: {{ estabelecimento.facebook }}</p>
			</ion-label>
			<div class="produtos" *ngIf="estabelecimento.produtoServicos.length!==0">
				<ion-text color="primary">
					<h1>Produtos</h1>
				</ion-text>
				<ion-slides [options]="sliderOpts">
					<ion-slide *ngFor="let produto of estabelecimento.produtoServicos"
						(click)="gerenciarProdutoServico(produto.id)">
						<img [src]="produto?.imageUrl">
					</ion-slide>
				</ion-slides>
			</div>
			<ion-button (click)="addProdutoServico()" class="botao-util" color="secondary">
				Novo Produto ou Serviço
				<ion-icon slot="end" name="add"></ion-icon>
			</ion-button>
			<ion-button class="botao-util" color="primary" (click)="editarEstabelecimento()" large>Editar</ion-button>
			<ion-button class="botao-util" color="danger" (click)="alertConfirm()" large>Deletar</ion-button>
			<br>
		</div>
	</div>

	<!-- div de edição -->
	<div *ngIf="estabelecimento && edit">
		<div class="container">
			<div>
				<img class="imagem-estabelecimento" [src]="image">
			</div>
			<div class="image-buttons">
				<ion-button class="midia-button" (click)="deletePicture()" *ngIf="image != '/assets/img/imagem.jpg'">
					<ion-icon class="icon-button font-s" name="trash-outline"></ion-icon>
				</ion-button>
				<ion-button class="midia-button mg-l" (click)="getCameraPicture()">
					<ion-icon class="icon-button font-s" name="camera"></ion-icon>
				</ion-button>
			</div>
			<form [formGroup]="formEstabelecimento" (ngSubmit)="updateEstabelecimento(); $event.preventDefault()">

				<ion-item>
					<ion-label class="label" position="floating">Nome</ion-label>
					<ion-input class="label2" type="text" formControlName="nome"></ion-input>
				</ion-item>

				<ion-item>
					<ion-label class="label" position="floating">CNPJ</ion-label>
					<ion-input class="label2" type="number" formControlName="cnpj"></ion-input>
				</ion-item>

				<ion-item>
					<ion-label class="label" position="floating">Funcionamento</ion-label>
					<ion-textarea class="label2" type="text" formControlName="horario"></ion-textarea>
				</ion-item>

				<p class="label">Endereço</p>

				<ion-button class="editarEndereco" (click)="editarEndereco(estabelecimento.endereco)" large>
					Atualizar endereço</ion-button>

				<p class="label sparator">Telefones</p>

				<ion-item>
					<ion-label class="label" position="fixed">Tel. 1</ion-label>
					<ion-input class="label2" type="text" formControlName="telefone1"></ion-input>
				</ion-item>


				<ion-item>
					<ion-label class="label" position="fixed">Tel. 2</ion-label>
					<ion-input class="label2" type="text" formControlName="telefone2"></ion-input>
				</ion-item>

				<ion-item>
					<ion-label class="label" position="fixed">Tel. 3</ion-label>
					<ion-input class="label2" type="text" formControlName="telefone3"></ion-input>
				</ion-item>

				<ion-item>
					<ion-label class="label" position="floating">Site</ion-label>
					<ion-input class="label2" type="text" formControlName="site"></ion-input>
				</ion-item>

				<ion-item>
					<ion-label class="label" position="floating">Instagram</ion-label>
					<ion-input class="label2" type="text" formControlName="instagram"></ion-input>
				</ion-item>

				<ion-item>
					<ion-label class="label" position="floating">Facebook</ion-label>
					<ion-input class="label2" type="text" formControlName="facebook"></ion-input>
				</ion-item>

				<br>
				<ion-button color="secondary" type="submit">Salvar</ion-button>
				<ion-button color="danger" type="reset" (click)="cancelarEdicaoEstabelecimento()">Cancelar</ion-button>
			</form>
		</div>
	</div>
	<div *ngIf="editEndereco">
		<div class="container">
			<h3>Endereço</h3>
			<form [formGroup]="formEndereco" (ngSubmit)="updateEndereco(); $event.preventDefault()">
				<ul class="informacoes">
					<li>
						<ion-item>
							<ion-label>Cidade</ion-label>
							<ion-select formControlName="cidadeId">
								<ion-select-option *ngFor="let cidade of cidades" value="{{cidade.id}}">
									{{cidade.nome}}
								</ion-select-option>
							</ion-select>
						</ion-item>
					</li>
					<li>
						<ion-item>
							<ion-label class="label" position="floating">Bairro</ion-label>
							<ion-input class="label2" type="text" formControlName="bairro"></ion-input>
						</ion-item>
					</li>
					<li>
						<ion-item>
							<ion-label class="label" position="floating">Logradouro</ion-label>
							<ion-input class="label2" type="text" formControlName="logradouro"></ion-input>
						</ion-item>
					</li>
					<li>
						<ion-item>
							<ion-label class="label" position="floating">Complemento</ion-label>
							<ion-input class="label2" type="text" formControlName="complemento"></ion-input>
						</ion-item>
					</li>
					<li>
						<ion-item>
							<ion-label class="label" position="floating">Número</ion-label>
							<ion-input class="label2" type="text" formControlName="numero"></ion-input>
						</ion-item>
					</li>
					<li>
						<ion-item>
							<ion-label class="label" position="floating">CEP</ion-label>
							<ion-input class="label2" type="text" formControlName="cep"></ion-input>
						</ion-item>
					</li>
				</ul>
				<ion-button color="secondary" type="submit">Salvar</ion-button>
				<ion-button color="danger" type="reset" (click)="cancelarEdicaoEndereco()">Cancelar</ion-button>
			</form>
		</div>
	</div>

	<div *ngIf="!estabelecimento">
		<div class="container">
			<div>
				<img class="imagem-estabelecimento" src="/assets/img/sem_foto.png">
			</div>
			<ion-label class="ion-text-wrap">
				<ion-text color="primary">
					<h1>Estabelecimento</h1>
					<h2>Endereço</h2>
					<h3>Bairro, Cidade</h3>
					<h3>CEP</h3>
				</ion-text>
				<p>Telefones</p>
				<p>Horário de Funcionamento</p>
				<p>Redes sociais</p>
				<ion-text color="primary">
					<p>Produtos</p>
				</ion-text>
			</ion-label>
			<br>
		</div>
	</div>
</ion-content>