<ion-header>
	<ion-toolbar class="tool-header">
		<ion-buttons>
			<ion-button slot="start" [routerLink]="['/tabs/tab2']">
				<ion-icon name="arrow-back"></ion-icon>
			</ion-button>
			<ion-title>Recuperação de Senha</ion-title>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="container">
		<form [formGroup]="formGroup" (ngSubmit)="recuperar(); $event.preventDefault()">
			<ion-item>
				<ion-label class="label" position="floating">E-mail</ion-label>
				<ion-input class="label" type="text" formControlName="email"></ion-input>
			</ion-item>
			<br>
			<ion-button large class="botao-recuperar" type="submit">Recuperar Senha</ion-button>
		</form>
	</div>
</ion-content>