<ion-header>
	<ion-toolbar class="tool-header">
		<ion-buttons>
			<ion-button slot="start" [routerLink]="['/tabs/tab2']">
				<ion-icon name="arrow-back"></ion-icon>
			</ion-button>
			<ion-title>Recuperação de Senha</ion-title>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="container">
		<ion-item>
			<ion-label class="label" position="floating">E-mail</ion-label>
			<ion-input class="label" [(ngModel)]="emailDTO.email" type="email"></ion-input>
		</ion-item>
		<br>
		<ion-button large class="botao-recuperar" (click)="recuperar()">Recuperar Senha</ion-button>
	</div>
</ion-content>