<ion-header>
  <ion-toolbar class="tool-header">
    <ion-buttons>
      <ion-button slot="start" (click)="detalheEstabelecimento()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <ion-title>Produto</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ng-template #titleTemplate>
  <ion-title>
    <ion-skeleton-text animated class="loading-large"></ion-skeleton-text>
  </ion-title>
</ng-template>

<ion-content>
  <ion-slides [options]="sliderOpts">
    <ion-slide *ngFor="let ps of produtoServicos">
      <div class="container">
        <div>
          <img class="imagem-produto" [src]="ps?.imageUrl">
        </div>
        <ion-label class="ion-text-wrap">
          <ion-text color="primary">
            <h1>{{ps.nome }}</h1>
            <h2>R${{ps.preco}}</h2>
          </ion-text>
          <p>{{ps.descricao}}</p>
        </ion-label>
        <div *ngIf="produtoServicos.length !=1">
          <h2 class="setaDireita" *ngIf="!isEnd(ps.id)">
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </h2>
          <h2 class="setaEsquerda" *ngIf="!isBeginning(ps.id)">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </h2>
        </div>
      </div>
    </ion-slide>
  </ion-slides>

  <ng-template #loading>
    <div class="container">
      <div>
        <img class="imagem-produto" src="/assets/img/sem_foto.png">
      </div>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h1>Produto</h1>
          <h2>Preço</h2>
        </ion-text>
        <p>Descrição</p>
      </ion-label>
    </div>
  </ng-template>
</ion-content>