<ion-content>
    <ion-header>
        <ion-toolbar>
            <ion-title color="primary" class="ion-text-center">Informações</ion-title>
        </ion-toolbar>
    </ion-header>
    <div class="conteudo">
        <ion-text>
            <h3>App Comércio da Cidade</h3>
            <p class="paragrafo p1">
                Aplicativo Para ajudar comerciantes locais no enfrentamento à Pandemia causada pelo COVID-19.
            </p>
            <p class="paragrafo p1">
                Desenvolvido através de um Projeto de Extensão, por alunos do Instituto Federal do Sertão Pernambucano, Campus Ouricuri.
            </p>
            <p class="paragrafo p1">
                Cadastre seu estabelecimento, é fácil e gratuito.
            </p>
            <p class="paragrafo p2">
                Mais informações entre em contato pelo e-mail: co.comerciodacidade@ifsertao-pe.edu.br
            </p>
        </ion-text>
    </div>
</ion-content>