ion-content {
    position: absolute;
    height: 100%;
}
ion-text {
    h3 {
        margin-left: 8px;
        margin-right: 8px;
    }
}
.paragrafo {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    &p1 {
        text-align: justify;
    }
    &p2 {
        text-align: left;
    }
}
.conteudo {
    position: relative;
    width: 100%;
    min-height: 550px;
    height: calc(100% - 70px);
    bottom: 0;
    background-image: url("/assets/img/background-botton-comercio-da-cidade-2.png");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: auto 200px;
}
