<ion-header>
	<ion-toolbar class="tool-header">
		<ion-buttons>
			<ion-button slot="start" [routerLink]="['/tabs/profile']" (click)="cancelar()">
				<ion-icon name="arrow-back"></ion-icon>
			</ion-button>
			<ion-title>Aterar Senha</ion-title>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="container">
		<form [formGroup]="formGroup" (ngSubmit)="alterar(); $event.preventDefault()">
			<ion-item>
				<ion-label class="label" position="floating">Senha Antiga</ion-label>
				<ion-input class="label" formControlName="senhaAntiga" type="password"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label class="label" position="floating">Nova Senha</ion-label>
				<ion-input class="label" formControlName="senhaNova" type="password"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label class="label" position="floating">Comfirmar Nova Senha</ion-label>
				<ion-input class="label" formControlName="confirmarNovaSenha" type="password"></ion-input>
			</ion-item>
			<br>
			<br>
			<ion-button large class="alterar" type="submit">Alterar</ion-button>
		</form>
	</div>
</ion-content>