.tool-header{
	--background: #a6ce39ff;
	ion-button{
		color: white;
	}
	ion-title{
		color: white;
		font-size: 22px;
	}
}
ion-content{
    --background: white;
}
.container{
	padding-top: 10px;
	margin-left: 13%;
	width: 74%;
	height: 100%;

}

.label {
	width: 100%;
	height: inherit;
	color: black;
	font-size: 18;
	margin-top: 10px;
}

.label2 {
	width: 100%;
	height: inherit;
	color: #8c0043ff;
	font-size: 18;
}
.alterar{
	width: 100%;
}
