.tool-header {
	--background: #a6ce39ff;
	ion-button {
		color: white;
	}
	ion-title {
		color: white;

	}
}

ion-content {
	--background: white;
}

.container {
	padding-top: 10px;
	margin: auto;
	width: 85%;
	height: 100%;
}

.label {
	width: 100%;
	height: inherit;
	color: black;
	margin-top: 10px;
}

.label2 {
	width: 100%;
	height: inherit;
	color: #8c0043ff;
	
}
.alterar {
	width: 100%;
}
