<ion-header>
	<ion-toolbar class="tool-header">
		<ion-buttons>
			<ion-button slot="start" [routerLink]="['/tabs/profile']" (click)="limparSenhas()">
				<ion-icon name="arrow-back"></ion-icon>
			</ion-button>
			<ion-title>Aterar Senha</ion-title>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="container">
		<ion-item>
			<ion-label class="label" position="floating">Senha Antiga</ion-label>
			<ion-input class="label" [(ngModel)]="update.senhaAntiga" type="password"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label class="label" position="floating">Nova Senha</ion-label>
			<ion-input class="label" [(ngModel)]="update.senhaNova" type="password"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label class="label" position="floating">Comfirmar Nova Senha</ion-label>
			<ion-input class="label" [(ngModel)]="confirmarNovaSenha" type="password"></ion-input>
		</ion-item>
		<br>
		<br>
		<ion-button large class="alterar" (click)="alterar()">Alterar</ion-button>
	</div>
</ion-content>